<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <h3>Spring boot mvc security using thymeleaf</h3>
    <p th:if="${param.error}" class="error">
        Bad Credentials
    </p>

    <form th:action="@{/app-login}" method="post">
        User Name: <input type="text" name="app_username"/> <br/>
        Passwod: <input type="password" name="app_password"> <br/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>