<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advert Manager</title>
</head>
<body>
    <h1>Adverts list</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
        </tr>

            <tr th:each="advert : ${userAdverts}">
                <td th:text="${advert.advertId}">Id</td>
                <td th:text="${advert.title}">title</td>
                <td th:text="${advert.description}">Description</td>
            </tr>
    </table>
</body>
</html>